.rightpane {
    position: fixed;
    background: linear-gradient(#780206, #061161);
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;   
}


.rightpane #loginb, #signupb {
    transform: translate(55%, 110px);
    background: black;
    position: relative;
    border: 1px solid snow;
    height: 5%;
    width: 50%;
    margin-top: 5px;
    font-size: 9px;

}

#hfeed {
    width: 60%;
    height: 100%;
    background-color: snow;
    position: absolute;
    top: 0px;
    left: 0px;
}

#searchbox {
    width: 180px;
    height: 23px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    background: white;
    box-shadow: 1px 1px 1px grey;

}

#magglass {
    color: snow;
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

#title {
    color: snow;
    font-family: Chalkduster, fantasy;
    font-size: 50px;
    transform: translate(80%, 160px);
    width: inherit;
    text-align: center;
}

#cite {
    color: snow;
    font-family: Avenir Next;
    font-size: 11px;
    transform: translate(44%, 410px);
    opacity: 0.5;
    text-align: center;
    display: none;

}


#hfeed #pic1, #pic2, #pic3 {
    height: 40%;
    margin: 10px;
    display: inline;
    border-style: solid;
    border-width: 3px;

}

 #logindiv {
    background-color: transparent;
    height: 15%;
    width: 70%;
    border-style: solid;
    border-color: snow;
    border-width: 0.5px;
    border-radius: 5px; 
    display: none;
    transform: translate(25%, 105px);
}

#signupdiv {
    background-color: transparent;
    height: 22%;
    width: 70%;
    border-style: solid;
    border-color: snow;
    border-width: 0.5px;
    border-radius: 5px; 
    display: none;
    transform: translate(25%, 105px);

}

#username, #password, #name {
    width: 230px;
    height: 25px;
    border-radius: 4px;
    border-style: solid;
    border-color: snow;
    border-width: 1.5px;
    background: transparent;
    display: inline-block;
    margin-left: 8px;
    transform: translate(0%, 15px);

}


#usernamet, #passwordt {
    color: snow;
    font-family: Avenir Next Condensed;
    font-size: 13px;
    display: inline;
    margin-left: 50px;
}


